<a href='/#!/single' class='Noticias-box'>
	<div class='Noticias-img'>
		<img src="img/banner2.jpg">
	</div>
	<div class='Noticias-descricao'>
		<p class='Heading4 Noticia-boxCategoria'>Associativismo</p>
		<h3 class='Heading5 Noticia-boxTitulo'>Fojupe planeja grande ato na Semana da Juventude</h3>
		<p class='Display1 Noticia-boxTexto'>O dia 11 de agosto será marcado por um grande ato na capital pernambucana, organizado….</p>

		<span>
			<i class="material-icons">share</i>
			<p class='Heading4 HeadingDoSpan'>COMPARTILHAR</p>
			<i class='ion-android-calendar'></i>
			<p class='Heading4 HeadingDoSpan'>15 DE AGOSTO DE 2017</p>
		</span>
	</div>
</a>
<a href='/#!/single' class='Noticias-box'>
	<div class='Noticias-img'>
		<img src="img/banner3.jpg">
	</div>
	<div class='Noticias-descricao'>
		<p class='Heading4 Noticia-boxCategoria'>Associativismo</p>
		<h3 class='Heading5 Noticia-boxTitulo'>Fojupe planeja grande ato na Semana da Juventude</h3>
		<p class='Display1 Noticia-boxTexto'>O dia 11 de agosto será marcado por um grande ato na capital pernambucana, organizado….</p>

		<span>
			<i class="material-icons">share</i>
			<p class='Heading4 HeadingDoSpan'>COMPARTILHAR</p>
			<i class='ion-android-calendar'></i>
			<p class='Heading4 HeadingDoSpan'>15 DE AGOSTO DE 2017</p>
		</span>
	</div>
</a>
<a href='/#!/single' class='Noticias-box'>
	<div class='Noticias-img'>
		<img src="img/banner4.jpg">
	</div>
	<div class='Noticias-descricao'>
		<p class='Heading4 Noticia-boxCategoria'>Associativismo</p>
		<h3 class='Heading5 Noticia-boxTitulo'>Fojupe planeja grande ato na Semana da Juventude</h3>
		<p class='Display1 Noticia-boxTexto'>O dia 11 de agosto será marcado por um grande ato na capital pernambucana, organizado….</p>

		<span>
			<i class="material-icons">share</i>
			<p class='Heading4 HeadingDoSpan'>COMPARTILHAR</p>
			<i class='ion-android-calendar'></i>
			<p class='Heading4 HeadingDoSpan'>15 DE AGOSTO DE 2017</p>
		</span>
	</div>
</a>