<section id='Redes' class='sectionPrimary'>
	<div class='OMirim-container'>
		<img src="img/simbolo_marcadagua.svg" class='MarcaDagua Marca2'>
		<img src="img/banner8.jpg">
		<span class='blend'></span>
		<h1 class='Heading2'>Frase e imagens podem ser trocadas a cada pagina que aparece.</h1>
		<a href='#RedesContainer' class='Box-ScrollDown scroll'>
			<i class='ion-android-arrow-down ScrollDown'></i>
		</a>
	</div>
</section>


<section id='RedesContainer'>
	<div class='container2'>
		<main>
			<h2 class='Heading3'>Redes e fóruns</h2>

			<p class='Display5'>As parcerias e articulações são essenciais na luta pelos direitos humanos. A visão de prioridade absoluta contida no ECA (Estatuto da Criança e do Adolescente), na Convenção sobre os Direitos da Criança das Nações Unidas e no Estatuto da Juventude motiva o Mirim Brasil a buscar parcerias com instituições governamentais, empresas, organismos internacionais, assim como a estar articulado com os conselhos de direitos, redes e fóruns, tanto em Pernambuco, quanto no Brasil e no mundo.</p>

			<h3 class='Heading8'>Brasil</h3>

			<h4 class='Heading5'>Conselhos municipal e estadual</h4>

			<p class='Display5'>Ao longo de sua história, o Mirim Brasil construiu diversas relações de parceria para a reivindicação e efetivação de direitos. Atuamos no fortalecimento da participação social e política, chegando a ser eleitos para conselhos de direito de níveis municipal e estadual nas áreas de direitos humanos, assistência social e de defesa dos direitos da criança e do adolescente. Tais eleições são o reconhecimento da presença marcante do Movimento nos espaços de discussão de políticas públicas e de construção de diálogo e de ações estratégicas para a efetivação do ECA.
			</p>

			<ul>
				<li class='Display1'>Conselho Estadual ou Municipal</li>
				<li class='Display1'>Conselho Estadual ou Municipal</li>
				<li class='Display1'>Conselho Estadual ou Municipal</li>
				<li class='Display1'>Conselho Estadual ou Municipal</li>
				<li class='Display1'>Conselho Estadual ou Municipal</li>
				<li class='Display1'>Conselho Estadual ou Municipal</li>
			</ul>

			<h4 class='Heading5'>ABONG</h4>

			<p class='Display5 redesTextoMod'>O Mirim-Brasil é membro da Abong (Associação Brasileira de Organizações Não-Governamentais). Formada em 1991, a entidade une organizações com perfil político caracterizado pela tradição de contribuição à consolidação de novos sujeitos políticos e movimentos sociais; busca de alternativas de desenvolvimento ambientalmente sustentáveis e socialmente justas; promoção de direitos, construção da cidadania e da defesa da ética na política para a consolidação da democracia; e pelo compromisso de luta contra a exclusão, contra a miséria e contra as desigualdades sociais. Em consequência da sua atuação, a Abong tem reconhecido papel no Brasil, possuindo representações em conselhos de políticas públicas, comitês nacionais e internacionais, além de fóruns.
			</p>

			<h3 class='Heading8'>Internacional</h3>

			<p class='Display5'>No intuito de globalizar os direitos da criança, do/a adolescente e do/a jovem, o Mirim Brasil atua junto com organizações internacionais, promovendo e participando de eventos como congressos, conferências, fóruns, reuniões e intercâmbios, estimulando e possibilitando a participação internacional de diversos membros.</p>

			<h4 class='Heading5'>IFM-SEI</h4>

			<p class='Display5'>O Mirim Brasil integra o IFM-SEI (Movimento Internacional dos Falcões – Educação Internacional Socialista), rede mundial composta por 50 entidades de todos os continentes. Atualmente, o Mirim Brasil ocupa a presidência da entidade. </p>

			<h4 class='Heading5'>FLAJ</h4>

			<p class='Display5'>O Mirim Brasil ocupa hoje a presidência do FLAJ (Fórum Latinoamericano de Juventude), ao qual estão vinculadas cerca de 30 organizações ou conselhos nacionais de juventudes dos países latinos, mantendo diálogo com a OECD (Organização para a Cooperação e Desenvolvimento Econômico) e a ONU (Organização das Nações Unidas)</p>

			<h4 class='Heading5'>Unga Örnar</h4>

			<p class='Display5'>Com uma longa parceria com a organização Unga Örnar, da Suécia, o Mirim Brasil tem desenvolvido projetos na área de formação de lideranças jovens como forma de contribuir para o empoderamento juvenil e renovação política no Brasil e no mundo. Por seis anos, estivemos formado lideranças jovens de ONGs que atuam no combate ao HIV e à AIDS em 15 países africanos. Em colaboração com prefeituras da Região Metropolitana do Recife, oferecemos formação em direitos da juventude para centenas de jovens. Também desenvolvemos formação em direitos da criança e do adolescente para crianças de baixa renda da capital pernambucana, sempre valorizando os métodos de educação não-formal.</p>

		</main>
	</div>
</section>

