
<section id='ContatoBanner' class='sectionPrimary'>
	<img src="img/banner5.jpg">
</section>
<section id='ContatoBody'>
	<div class='container'>
		<main>
			<div class='mapaContainer'>
				<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15801.484479677945!2d-34.8779323!3d-8.0635751!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9a31f466c012e14d!2sMangue+Tecnologia!5e0!3m2!1spt-BR!2sbr!4v1520409025960" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div>
			<form class='formContato'>
				<h1 class='Heading5'>Em que podemos te ajudar?</h1>
				<label for='nome'>Nome</label>
				<input type="text" name="nome" class='input' id='nome' placeholder="Seu nome">
				<label for='email'>Email</label>
				<input type="email" name="email" class='input' id='email' placeholder="seunome@gmail.com">
				<label for='assunto'>Assunto</label>
				<input type="text" name="assunto" id='assunto' placeholder="Seu assunto" class='input'>
				<label for='mensagem'>Mensagem</label>
				<textarea id='mensagem' name='mensagem' placeholder="Digite sua mensagem" class='textarea'></textarea>
				<button class='btn-primary'>Enviar</button>
			</form>
		</main>
	</div>
</section>
