<section id='HomeBanner' class='sectionPrimary' ng-controller="homeController">
	<main>
		<div class='HomeSkew HomeAnimacao' ng-model='HomeSkew'>
			<div class='container'>
				<img src="img/simbolo_marcadagua.svg" class='MarcaDagua'>
				<h1 class='Heading2'>{{tituloBanner}}</h1>
			</div>
		</div>
		<div class='HomeFoto'>
			<img ng-src='{{imagemBanner}}'>
		</div>
		<span class='HomeBlend HomeAnimacao'></span>

		<a href='#UltimasNoticias' class='Box-ScrollDown scroll'>
			<i class='ion-android-arrow-down ScrollDown'></i>
		</a>
	</main>
</section>

<section id='UltimasNoticias'>
	<div class='container'>
		<main>
			<h2 class='Heading3'>Últimas notícias</h2>
			<div class='UltimasNoticias-container'>

				<div ng-include="'views/includes/ultimasNoticias.html'" class='UltimasNoticias-container' ng-controller='noticiasController'>
				</div>

			</div>
		</main>
	</div>
</section>


