<div ng-include="'views/includes/subMenu2.html'" class='subMenuBox'>
</div>

<section id='Midioteca'>
	<div class='container'>
		<main>
			<h1 class='Heading2'>midioteca</h1>
			<h2 class='Heading3'>fotos</h2>

			<ol class='AconteceuSlideContainer'>
				<li class='AconteceuFoto'>
					<div class='AconteceuFotoContainer'>
						<img src="img/banner1.jpg">
						<span class='AconteceuTarja'>
							<h3 class='tituloTarja'>Nome do álbum</h3>
							<i class='ion-android-calendar'></i><p>agosto, 2017</p>
						</span>
					</div>
				</li>
				<li class='AconteceuFoto'>
					<div class='AconteceuFotoContainer'>
						<img src="img/banner2.jpg">
						<span class='AconteceuTarja'>
							<h3 class='tituloTarja'>Nome do álbum</h3>
							<i class='ion-android-calendar'></i><p>agosto, 2017</p>
						</span>
					</div>
				</li>
				<li class='AconteceuFoto'>
					<div class='AconteceuFotoContainer'>
						<img src="img/Banner3.jpg">
						<span class='AconteceuTarja'>
							<h3 class='tituloTarja'>Nome do álbum</h3>
							<i class='ion-android-calendar'></i><p>agosto, 2017</p>
						</span>
					</div>
				</li>
				<li class='AconteceuFoto'>
					<div class='AconteceuFotoContainer'>
						<img src="img/banner4.jpg">
						<span class='AconteceuTarja'>
							<h3 class='tituloTarja'>Nome do álbum</h3>
							<i class='ion-android-calendar'></i><p>agosto, 2017</p>
						</span>
					</div>
				</li>
				

			</ol>
		</main>
	</div>
</section>


<section id='Videos'>
	<div class='container'>
		<main>
			<h2 class='Heading3'>videos</h2>

			<div class='videosConteiner'>
				<div class='videoBox'>
					<iframe width="560" height="315" src="https://www.youtube.com/embed/C3tiI3akFq8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen ></iframe>
				</div>
				<ol class='videoSlide hero__titlee' id='animatedHeading'>
					<li class="slick-dupe">
						<span class="hero__title-misc  |  animate">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/ZIG98Fj_XEg?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" volume="0" allow="autoplay; encrypted-media" allowfullscreen class='meuVideo'></iframe>
							<span class='objetoClicavel'></span>
						</span>
					</li>
					<li class="slick-dupe">
						<span class="hero__title-misc  |  animate">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/MDbMy2c7C4U?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" volume="0" allow="autoplay; encrypted-media" allowfullscreen class='meuVideo'></iframe>
							<span class='objetoClicavel'></span>
						</span>
					</li>
					<li class="slick-dupe">
						<span class="hero__title-misc  |  animate">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/MDbMy2c7C4U?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" volume="0" allow="autoplay; encrypted-media" allowfullscreen class='meuVideo'></iframe>
							<span class='objetoClicavel'></span>
						</span>
					</li>
					<li class="slick-dupe">
						<span class="hero__title-misc  |  animate">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/jC98XI1G3uo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" volume="0" allow="autoplay; encrypted-media" allowfullscreen class='meuVideo'></iframe>
							<span class='objetoClicavel'></span>
						</span>
					</li>
					<li class="slick-dupe">
						<span class="hero__title-misc  |  animate">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/sNoXv-hpAkw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" volume="0" allow="autoplay; encrypted-media" allowfullscreen class='meuVideo'></iframe>
							<span class='objetoClicavel'></span>
						</span>
					</li>
					<li class="slick-dupe">
						<span class="hero__title-misc  |  animate">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/Hyv5dY38Ep0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" volume="0" allow="autoplay; encrypted-media" allowfullscreen class='meuVideo'></iframe>
							<span class='objetoClicavel'></span>
						</span>
					</li>
					<li class="slick-dupe">
						<span class="hero__title-misc  |  animate">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/EEeLl-M5YmI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" volume="0" allow="autoplay; encrypted-media" allowfullscreen class='meuVideo'></iframe>
							<span class='objetoClicavel'></span>
						</span>
					</li>
				</ol>
			</div>	

		</main>
	</div>
</section>

<section id='Artes'>
	<div class='container'>
		<h2 class='Heading3'>artes</h2>	

		<ol class='artesConcainer'>
			<li class='artesBox'>
				<span class='blendArtes'></span>
				<img src="img/banner8.jpg">
			</li>
			<li class='artesBox'>
				<span class='blendArtes'></span>
				<img src="img/banner8.jpg">
			</li>
			<li class='artesBox'>
				<span class='blendArtes'></span>
				<img src="img/banner8.jpg">
			</li>
			<li class='artesBox'>
				<span class='blendArtes'></span>
				<img src="img/banner8.jpg">
			</li>
			<li class='artesBox'>
				<span class='blendArtes'></span>
				<img src="img/banner8.jpg">
			</li>
			<li class='artesBox'>
				<span class='blendArtes'></span>
				<img src="img/banner8.jpg">
			</li>
		</ol>	
	</div>
</section>

<section id='Biblioteca'>
	<div class='container'>
		<h2 class='Heading3'>biblioteca</h2>	
		<main>
			<h3 class='Display5'>O acesso à informação transforma vidas. Por isso, nesta página você encontrará as legislações relativas às Organizações da Sociedade Civil, bem como publicações vinculadas aos direitos humanos e à cidadania ativa. Boa leitura!</h3>

			<div class='bibliotecaContainer'>
				<ul class='bibliotecaHead'>
					<li class='Heading1 linksBiblioteca linkOn'>Tratados Internacionais</li>
					<li class='Heading1 linksBiblioteca'>Leis Federais</li>
					<li class='Heading1 linksBiblioteca'>Publicações</li>
				</ul>
				<ul class='bibliotecaBody'>
					<div class='bibliotecaBox'>
						<span class='boxIcon' id='boxIcon'>
							<i class='ion-android-download icon2'></i>
						</span>
						<span class='boxDesc'>
							<h4 class='Display1'>Declaração Universal dos Direitos Humanos (Organização das Nações Unidas – ONU, 1948);</h4>
							<p class='Display2'>1,5 MB</p>
						</span>
					</div>
					<div class='bibliotecaBox'>
						<span class='boxIcon' id='boxIcon'>
							<i class='ion-android-download icon2'></i>
						</span>
						<span class='boxDesc'>
							<h4 class='Display1'>Declaração Universal dos Direitos Humanos (Organização das Nações Unidas – ONU, 1948);</h4>
							<p class='Display2'>1,5 MB</p>
						</span>
					</div>
					<div class='bibliotecaBox'>
						<span class='boxIcon' id='boxIcon'>
							<i class='ion-android-download icon2'></i>
						</span>
						<span class='boxDesc'>
							<h4 class='Display1'>Declaração Universal dos Direitos Humanos (Organização das Nações Unidas – ONU, 1948);</h4>
							<p class='Display2'>1,5 MB</p>
						</span>
					</div>
					<div class='bibliotecaBox'>
						<span class='boxIcon' id='boxIcon'>
							<i class='ion-android-download icon2'></i>
						</span>
						<span class='boxDesc'>
							<h4 class='Display1'>Declaração Universal dos Direitos Humanos (Organização das Nações Unidas – ONU, 1948);</h4>
							<p class='Display2'>1,5 MB</p>
						</span>
					</div>
					<div class='bibliotecaBox'>
						<span class='boxIcon' id='boxIcon'>
							<i class='ion-android-download icon2'></i>
						</span>
						<span class='boxDesc'>
							<h4 class='Display1'>Declaração Universal dos Direitos Humanos (Organização das Nações Unidas – ONU, 1948);</h4>
							<p class='Display2'>1,5 MB</p>
						</span>
					</div>
				</ul>
			</div>
		</main>
	</div>
</section>

<style>

</style>