<div ng-include="'views/includes/subMenu.html'" class='subMenuBox'>
</div>


<section id='OMirim' class='sectionPrimary1'>
	<div class='OMirim-container'>
		<img src="img/simbolo_marcadagua.svg" class='MarcaDagua Marca2'>
		<img ng-src='{{imagemBanner}}'>
		<span class='blend'></span>
		<h1 class='Heading2'>{{tituloBanner}}</h1>
		<a href='#QuemSomos' class='Box-ScrollDown scroll'>
			<i class='ion-android-arrow-down ScrollDown'></i>
		</a>
	</div>
</section>

<section id='QuemSomos'>
	<div class='container'>
		<main>
			<h2 class='Heading2'>quem somos</h2>

			<div class='QuemSomos-container'>
				<p class='Display5 textoMirim'>{{quemSomosTexto}}</p>

				<div class='OMirimLista-container'>
					<p class='Display1 OMirimLista'>1. cobrar ética na atuação dos(as) representantes do povo, bem como  compromisso com questões de interesse público;</p>
					<p class='Display1 OMirimLista'>2. cobrar transparência na tomada de decisões e no uso dos recursos;</p>
					<p class='Display1 OMirimLista'>3. propor ações públicas de correção à desigualdade e de combate ao preconceito, ao racismo e ao patriarcalismo histórico;</p>
					<p class='Display1 OMirimLista'>4. monitorar a eficiência das políticas públicas;</p>
					<p class='Display1 OMirimLista'>5. resgatar e preservar a nossa história;</p>
					<p class='Display1 OMirimLista'>6. incentivar à organização popular e a cidadania ativa.</p>
				</div>

			</div>

			<div class='SlideMirim'>
				<div class='slideContainer'>
					<img src="img/banner1.jpg">
				</div>
				<div class='slideContainer'>
					<img src="img/banner2.jpg">
				</div>
			</div>

		</main>
	</div>
</section>

<section id='OQueQueremos'>
	<div class='container'>
		<main>
			<h2 class='Heading2'>o que queremos</h2>

			<p class='Display5 textoMirim'>O Mirim Brasil tem como missão lutar pela garantia e efetivação dos direitos fundamentais de crianças, adolescentes e jovens, no Brasil e no mundo, sem discriminação de raça, gênero, origem, condições de vida, credo religioso, ideologia política ou de qualquer outra índole.
				Para alcançar a sua missão, o Movimento propõe-se a:
			</p>

			<div class='OMirimLista-container'>
				<p class='Display1 OMirimLista'>1. Denunciar a violação de direitos de crianças, adolescente e jovens no Brasil e no mundo.</p>
				<p class='Display1 OMirimLista'>2. Apoiar toda entidade ou pessoa que lute pelos direitos de crianças, adolescentes e jovens, sem outro interesse que o bem estar desses cidadãos e dessas cidadãs.</p>
				<p class='Display1 OMirimLista'>3. Desenvolver estudos e pesquisas sobre a situação de crianças, adolescentes e jovens, bem como sistematizar e divulgar tais informações.</p>
				<p class='Display1 OMirimLista'>4. Promover, de forma gratuita, a educação não-formal e a educação do ensino básico ao profissionalizante, visando ao desenvolvimento humano, econômico e social e, consequentemente, ao combate à pobreza, como ação complementar ao dever do Estado.</p>
				<p class='Display1 OMirimLista'>5. Promover, de forma gratuita, a saúde, a segurança alimentar e nutricional, visando ao bem-estar e, consequentemente, ao combate à pobreza, como ação complementar ao dever do Estado.</p>
				<p class='Display1 OMirimLista'>6. Proporcionar assessoria jurídica gratuita a entidades afins de interesse suplementar, fortalecendo o associativismo e a articulação de parcerias para o desenvolvimento.</p>
				<p class='Display1 OMirimLista'>7. Promover a cultura, o esporte, o lazer, a defesa e a conservação do meio ambiente e do patrimônio histórico e artístico, com foco no desenvolvimento humano e social sustentável, na inclusão social e no exercício da cidadania.</p>
				<p class='Display1 OMirimLista'>8. Promover a assistência social de acordo à Lei Orgânica de Assistência Social (LOAS, Lei 8.742/1993), como ação complementar ao dever do Estado brasileiro.</p>
				<p class='Display1 OMirimLista'>9. Promover ações de inclusão social dando acesso ao exercício da cidadania, com base nos direitos positivados e na luta por reconhecimento de novos direitos.</p>
				<p class='Display1 OMirimLista'>10. Promover o voluntariado como mecanismo de educação não-formal para o bom convívio social e promoção da solidariedade.</p>
				<p class='Display1 OMirimLista'>11. Promover capacitação para profissionais de áreas vinculadas à promoção e defesa dos direitos da infância, adolescência e juventude.</p>
				<p class='Display1 OMirimLista'>12. Promover capacitação em gestão e apoiar a implantação de unidades produtivas junto às populações juvenis</p>
				<p class='Display1 OMirimLista'>13. Elaborar, implantar, monitorar e assistir, tecnicamente, programas e projetos sociais relativos à garantia e acesso a direitos humanos.</p>
				<p class='Display1 OMirimLista'>14. Promover a ética, a paz, a solidariedade, a dignidade humana, a democracia participativa e a igualdade em direitos e em oportunidades do desenvolvimento.</p>
				<p class='Display1 OMirimLista'>15. Fomentar o empreendedorismo e a economia solidária como estratégias de desenvolvimento e emancipação social.</p>
			</div>

		</main>
	</div>
</section>

<section id='ComoAtuamos'>
	<div class='container'>
		<main>
			<h2 class='Heading2'>como atuamos</h2>

			<p class='Display5 textoMirim'>
				A base metodológica do Mirim Brasil está na participação de crianças, adolescentes e jovens na tomada de decisão democrática e na autonomia da construção de suas identidades como agentes políticos de transformação social. Nosso projeto político-metodológico visa despertar o senso crítico e promover o diálogo, num processo de reflexão e construção coletiva.<br><br>
				As atividades cotidianas são realizadas para e com as diferentes partes envolvidas. Crianças e jovens participam da criação, desenvolvimento e avaliação dos projetos voltados para a efetivação dos seus direitos. As comunidades, através das entidades representativas, propõem soluções estratégicas para enfrentar a situação de vulnerabilidade social e as violações de direito. Todas as pessoas e grupos são motivados a participar de conselhos, fóruns, redes e campanhas, ampliando a participação da sociedade civil no espaço público e a efetivação da cidadania.<br><br>
				No intuito de globalizar os direitos das crianças, o Mirim Brasil participa de conselhos de direitos e desenvolve ações em articulação com redes e fóruns, e realiza programas e projetos com instituições públicas e privadas, nacionais e internacionais, em diversas atividades que reforçam o compromisso com a dignidade humana.

			</p>

			<div class='CardsContainer'>
				<div class='CardsBox box1'>
					<span class='CardNumero card1'>
						<p class='Heading7'>1</p>
					</span>
					<img src="img/banner1.jpg">
					<span class='blendCard blend1'></span>
					<span class='CardTexto'>
						<h3 class='Heading1'>Incentivar a participação direta de crianças, adolescentes e jovens no processo de tomada de decisão, bem como incentivar a participação deles e delas nos espaços políticos.</h3>
					</span>
				</div>
				<div class='CardsBox box2'>
					<span class='CardNumero card2'>
						<p class='Heading7'>2</p>
					</span>
					<img src="img/banner1.jpg">
					<span class='blendCard blend2'></span>
					<span class='CardTexto'>
						<h3 class='Heading1'>Aglutinar pessoas em lutas comuns por direitos de crianças, adolescentes e jovens.</h3>
					</span>
				</div>
				<div class='CardsBox box3'>
					<span class='CardNumero card3'>
						<p class='Heading7'>3</p>
					</span>
					<img src="img/banner1.jpg">
					<span class='blendCard blend3'></span>
					<span class='CardTexto'>
						<h3 class='Heading1'>Criar um ambiente de educação em direitos humanos, paz e democracia na sociedade em geral, enfrentando as estruturas das desigualdades e incentivando a cidadania ativa.</h3>
					</span>
				</div>
				<div class='CardsBox box3'>
					<span class='CardNumero card3'>
						<p class='Heading7'>4</p>
					</span>
					<img src="img/banner1.jpg">
					<span class='blendCard blend3'></span>
					<span class='CardTexto'>
						<h3 class='Heading1'>Realizar estudos que fortaleçam a luta por direitos humanos, paz e democracia.</h3>
					</span>
				</div>
				<div class='CardsBox box1'>
					<span class='CardNumero card1'>
						<p class='Heading7'>5</p>
					</span>
					<img src="img/banner1.jpg">
					<span class='blendCard blend1'></span>
					<span class='CardTexto'>
						<h3 class='Heading1'>Desenvolver ações estratégicas de comum interesse com entidades das sociedades civis de todos os continentes, em especial da África, América Latina e Ásia;</h3>
					</span>
				</div>
				<div class='CardsBox box2'>
					<span class='CardNumero card2'>
						<p class='Heading7'>6</p>
					</span>
					<img src="img/banner1.jpg">
					<span class='blendCard blend2'></span>
					<span class='CardTexto'>
						<h3 class='Heading1'>Tornar públicas e transparentes as relações com associados(as), colaboradores(as) e instituições parceiras, mantendo a independência e autonomia do Movimento.</h3>
					</span>
				</div>
			</div>
		</main>
	</div>
</section>

<section id='QuemFaz'>
	<div class='container'>
		<main>
			<h2 class='Heading2'>quem faz o mirim</h2>


			<p class='Display5 textoMirim'>
				As pessoas que tornam real a luta do Mirim Brasil são de grupos sociais diversos que se complementam em prol do bem-estar comum. Participam crianças, adolescentes, jovens e lideranças comunitárias, militantes e voluntários/as, profissionais e estudantes de diferentes áreas (administração, jornalismo, antropologia, comunicação, direito, enfermagem, economia, contabilidade, medicina, sociologia, pedagogia, psicologia, nutrição).<br><br>
				A estrutura legal, de acordo o Código Civil Brasileiro, está composta da seguinte forma:
			</p>

			<h3 class='Heading8 categoriaQuemFaz'>conselho diretor</h3>

			<div class='QuemFazContainer'>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>

			</div>


			<h3 class='Heading8 categoriaQuemFaz'>conselho fiscal</h3>

			<div class='QuemFazContainer'>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>

			</div>

			<h3 class='Heading8 categoriaQuemFaz'>demais membros</h3>

			<div class='QuemFazContainer'>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>

			</div>
			<h3 class='Heading8 categoriaQuemFaz'>assembléia infantojuvenil</h3>

			<div class='QuemFazContainer'>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>
				<div class='QuemFazBox'>
					<span class='QuemFazAvatar'>
						<img src="img/banner1.jpg">
					</span>
					<h3 class='Heading1'>Sylvia Siqueira Campos</h3>
					<p class='Paragraph QuemFazEmail'>sylvia.campos@mirimbrasil.org.br</p>
					<p class='Display2 QuemFazCargo'>Presidenta</p>
				</div>

			</div>
		</main>
	</div>
</section>
<section id='OQueQueremos2'>
	<img src="img/simbolo_marcadagua.svg" class='MarcaDagua'>

	<div class='container'>
		<main>
			<h2 class='Heading2'>nossa historia</h2>

			<p class='Display5 textoMirim'>Nossa identidade surge com a redemocratização do Brasil, no final da década de 1980. Naquela época, as pessoas que fundaram o Mirim Brasil contribuíram com a criação do ECA (Estatuto da Criança e do Adolescente), Lei nº 8.742, sancionada em 13 de julho de 1990. O ECA substituiu o Código de Menores (1979), legislação com resquício racista e classista, dirigida à população menor de 18 anos, pobre e majoritariamente negra. O Estatuto inseriu a visão de que todas as criança e adolescentes devem estar sob proteção integral e são, portanto, cidadãos e cidadãs em desenvolvimento.
			</p>

			<div class='MirimIMG'>
				<img src="img/banner1.jpg">
			</div>

			<p  class='Display5 textoMirim'>Em 1998, passamos a lutar também pelo reconhecimento legal das especificidades no desenvolvimento dos/as jovens. Realizamos projetos, participamos de diversos encontros, atuamos no Fonajuves (Fórum Nacional de Movimentos e Organizações Juvenis). Foram muitos passos para chegar até à aprovação do Estatuto da Juventude, Lei nº 12.85, no dia 05 de agosto de 2013.</p>

			<div class='MirimIMG'>
				<img src="img/banner1.jpg">
			</div>
		</main>
	</div>
</section>


<style>


</style>