
<section id='Projetos' class='sectionPrimary'>
	<div class='OMirim-container'>
		<img src="img/simbolo_marcadagua.svg" class='MarcaDagua Marca2'>
		<img src="img/banner8.jpg">
		<span class='blend'></span>
		<h1 class='Heading2'>Frase e imagens podem ser trocadas a cada pagina que aparece.</h1>
		<a href='#ProjetosContainer' class='Box-ScrollDown scroll'>
			<i class='ion-android-arrow-down ScrollDown'></i>
		</a>
	</div>
</section>


<section id='ProjetosContainer'>
	<div class='container'>
		<main>

			<h2 class='Heading2'>projetos</h2>

			<div class='projetosBox'>
				<div class='imgProjetos-box'>
					<span class='blendProjeto'></span>
					<img src="img/banner1.jpg">
				</div>
				<div class='descProjetos-box'>
					<h3 class='Heading8' class='tituloProjeto'>Título do projeto em até 3 linhas</h3>
					<a href="javascript:void(0)" class='btn-secondary large'>Saber mais</a>
				</div>
			</div>
			<div class='projetosBox'>
				<div class='imgProjetos-box'>
					<span class='blendProjeto'></span>
					<img src="img/banner1.jpg">
				</div>
				<div class='descProjetos-box'>
					<h3 class='Heading8' class='tituloProjeto'>Título do projeto em até 3 linhas</h3>
					<a href="javascript:void(0)" class='btn-secondary large'>Saber mais</a>
				</div>
			</div>
			<div class='projetosBox'>
				<div class='imgProjetos-box'>
					<span class='blendProjeto'></span>
					<img src="img/banner1.jpg">
				</div>
				<div class='descProjetos-box'>
					<h3 class='Heading8' class='tituloProjeto'>Título do projeto em até 3 linhas</h3>
					<a href="javascript:void(0)" class='btn-secondary large'>Saber mais</a>
				</div>
			</div>
			<div class='projetosBox'>
				<div class='imgProjetos-box'>
					<span class='blendProjeto'></span>
					<img src="img/banner1.jpg">
				</div>
				<div class='descProjetos-box'>
					<h3 class='Heading8' class='tituloProjeto'>Título do projeto em até 3 linhas</h3>
					<a href="javascript:void(0)" class='btn-secondary large'>Saber mais</a>
				</div>
			</div>
		</main>
	</div>
</section>
