
<ul class='subBlog subBlog2'>
	<li class='Heading1'>#Todas</li>
	<li class='Heading1'>#Associativismo</li>
	<li class='Heading1'>#Democracia</li>
	<li class='Heading1'>#Cultura</li>
	<li class='Heading1'>#Direitos Humanos</li>
	<li class='Heading1'>#Internacional</li>
	<li class='Heading1'>#Eduação</li>
	<li class='Heading1'>#Juventude</li>
	<li class='Heading1'>#Infância</li>
	<li class='Heading1'>#Gênero</li>
	<li class='Heading1'>#Sustentabilidade</li>
	<li class='Heading1'>#Transparência</li>
	<li class='Heading1'>#Política</li>
</ul>

<section id='SingleBody'>
	<main>
		<span class='spanFerramentasC'>
			<i class="material-icons">share</i>
			<p class='Heading4 HeadingDoSpan'>COMPARTILHAR</p>
			<i class='ion-android-calendar'></i>
			<p class='Heading4 HeadingDoSpan'>15 DE AGOSTO DE 2017</p>
		</span>
		<span class='spanTags'>
			<p class='Heading6'>#ASSOCIATIVISMO</p>
			<p class='Heading6'>#JUVENTUDE</p>
		</span>
		<div class='SingleContainer'>
			<h1>Jovens do Mirim Brasil tomam posse no Conselho de Juventude do Recife</h1>
			<img src="img/banner4.jpg">
			<p>Nina Moura, 19, e Filipe Antonio Araujo, 25, jovens militantes do Mirim Brasil, tomaram posse no dia 14 de agosto no Conselho de Políticas Públicas de Juventude do Recife, para um mandato de dois anos (2017-2019). Eles foram eleitos como conselheiros no começo de junho. </p>
			<p>A solenidade de posse foi realizada no Paço do Frevo, no Bairro do Recife. Nina e Filipe passam a ocupar duas das 16 vagas do conselho destinadas a representantes da sociedade civil. Ao todo, o comitê é formado por 25 membros titulares e 25 suplentes. Das cadeiras, oito são ocupadas pela Prefeitura do Recife e uma pela Câmara de Vereadores.

				Nina, Filipe e os demais integrantes do conselho terão como missão principal monitorar de perto a implementação do primeiro Plano Municipal de Juventude do Recife. 

				“Me comprometo publicamente a representar as diversas juventudes, a trazer as vozes de movimentos sociais, das organizações sociais, da sociedade civil organizada para esse conselho. É extremamente importante que os jovens participem cada dia mais ativamente da política, lutando pelos seus direitos para que eles sejam garantidos”, afirmou Nina.

				“Vamos fazer políticas públicas da juventude, com as juventudes e para as juventudes. Nossa meta vai ser tanto o acompanhamento do Plano Municipal de Juventude e a sua implementação, quanto a inserção dos jovens na política. Nós queremos a participação de mais jovens na política para que os jovens tomem as suas próprias decisões e façam desse município um lugar melhor para toda a população”, declarou Filipe.

			De acordo com a presidenta do Mirim Brasil, Sylvia Siqueira Campos, foi a primeira vez que a entidade se candidatou para fazer parte do conselho. “Nosso foco sempre foi mais organização de jovens, incidência em processos nacionais e internacionais de juventude. Mas em 2013 decidimos incidir em políticas públicas de juventude no Recife, em formação de jovens para liderar o Mirim, na participação em conferências e contribuição ao plano municipal”. </p>
		</div>
	</main>
</section>

<section id='UltimasNoticias'>
	<div class='container'>
		<main>
			<h2 class='Heading3'>Últimas notícias</h2>
			<div class='UltimasNoticias-container'>

				<div ng-include="'views/includes/ultimas_noticias2.html'" class='UltimasNoticias-container'>
				</div>

			</div>
		</main>
	</div>
</section>

